

body{
    background-color: rgb(255, 255, 255);
    font-family:sans-serif;
}
.header{
    background-color: rgb(228, 242, 250);
    padding: 30px;
    
}
.questionlist {
   
    padding-left: 50px;
    padding-right: 50px;
}
.questionposts {
    border-style: solid;
    border-radius: 30px;
    margin: 10px;
    padding: 20px;
}
